.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  padding-block: 2rem;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.input {
  padding: 0.5rem 0.75rem;
  border: 0.1rem solid rgb(var(--cl-black));
  border-radius: var(--radius-sm);
  background-color: rgb(var(--cl-white));
  transition: var(--trns);
  transition-property: border-color, box-shadow;

  &:focus {
    box-shadow: 0 0 0 4px rgb(var(--cl-accent) / 45%);
    border-color: rgb(var(--cl-accent));
  }
}

.btn {
  padding: 0.5rem 1.5rem;
  color: rgb(var(--cl-white));
  background-color: rgb(var(--cl-accent) / 75%);
  border-radius: var(--radius-sm);
  transition: var(--trns);
  transition-property: background-color;

  &:hover {
    background-color: rgb(var(--cl-accent));
  }
}
