:root {
  --font-sm: clamp(0.8rem, 0.56vi + 0.67rem, 0.94rem);
  --font-base: clamp(1rem, 1.02vi + 0.76rem, 1.25rem);
  --font-md: clamp(1.25rem, 1.69vi + 0.85rem, 1.67rem);
  --font-lg: clamp(1.56rem, 2.68vi + 0.93rem, 2.22rem);

  /* Colors */
  --cl-accent: 245, 166, 55;
  --cl-light: 211 211 211;
  --cl-dark: 42 42 42;
  --cl-white: 255 255 255;
  --cl-black: 0 0 0;
  --cl-error: 255 0 0;
  --cl-success: 0 128 1;

  /* Borders */
  --radius-sm: 0.5rem;
  --radius-base: 1rem;
  --radius-circle: 50%;

  /* Shadow */
  --shadow-sm: rgb(var(--cl-black) / 16%) 0px 1px 4px;
  --shadow-md: rgba(149, 157, 165, 0.2) 0px 8px 24px;

  /* Others */
  --trns: 150ms ease-in;
  --bg-img: linear-gradient(
      rgb(var(--cl-black) / 50%),
      rgb(var(--cl-black) / 50%)
    ),
    url('https://images.unsplash.com/photo-1449198063792-7d754d6f3c80?q=80&w=2048&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
}

body {
  font-family: 'Lato', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-size: var(--font-base);
  color: rgb(var(--cl-white));
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  color: rgb(var(--cl-white));
  background-color: rgb(var(--cl-accent));
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  width: 100dvw;
  height: 100dvh;
  padding: 6rem 0;
  background-image: var(--bg-img);
  background-size: cover;
  background-position: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  cursor: pointer;
}
